Repository shimahi/qwikcity_practice: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-and-format, test

typecheck:
  run: bun run type

lint-and-format:
  run: bun run lint --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

test:
  run: bun run test

ローカルDB環境のセットアップとテスト
  db/migrations/0000_dapper_eternity.sql
  db/migrations/meta/0000_snapshot.json
  db/migrations/meta/_journal.json
  db/schemas/index.ts
  db/schemas/type.ts
  db/seed.ts
  package.json
  patches/drizzle-session.js
  src/__tests__/fixtures/index.ts
  src/__tests__/index.ts
  src/__tests__/mocks/db.ts
  src/__tests__/mocks/index.ts
  src/services/db/_base.ts
  src/services/db/post.test.ts
  src/services/db/post.ts
  src/services/db/user.test.ts
  src/services/db/user.ts
  tsconfig.json
Due: typecheck, lint-and-format

ローカルCloudflare環境の作成
  adapters/cloudflare-pages/vite.config.ts
  package.json
  src/services/db/image.ts
  vite.config.ts
Due: typecheck, lint-and-format

utils関数の作成
  src/utils/index.test.ts
  src/utils/index.ts
Due: typecheck, lint-and-format

フロントエンドからローカルのCloudflareランタイムを読み込める様にする
  src/entry.cloudflare-pages.tsx
  src/entry.dev.tsx
  src/entry.preview.tsx
  src/entry.ssr.tsx
Due: typecheck, lint-and-format

Panda CSSのセットアップ
  package.json
  panda.config.ts
  src/global.css
Due: typecheck, lint-and-format

ローカル環境変数の型を固定するパッチ作成
  patches/env-types.js
Due: lint-and-format

文字組み周りの設定
  package.json
  panda.config.ts
Due: typecheck, lint-and-format

認証ロジックの実装
  package.json
  src/domains/auth.ts
  src/domains/user.test.ts
  src/domains/user.ts
  src/routes/plugin@auth.ts
  src/services/kv.ts
Due: typecheck, lint-and-format

ユーザー取得処理の実装
  src/domains/user.test.ts
  src/domains/user.ts
Due: typecheck, lint-and-format

ポスト周りの処理を実装
  src/domains/post.test.ts
  src/domains/post.ts
Due: typecheck, lint-and-format

アセットファイル作成
  public/_headers
  public/_redirects
  public/favicon.svg
  public/icon.png
  public/manifest.json
  public/og.png
  public/splash.png
Due: lint-and-format

アイコンコンポーネントの作成
  src/components/ui/IconButton.tsx
  src/components/ui/svg/Check.tsx
  src/components/ui/svg/Close.tsx
  src/components/ui/svg/Menu.tsx
  src/components/ui/svg/Pencil.tsx
  src/components/ui/svg/index.ts
Due: typecheck, lint-and-format

トップページのマークアップ
  panda.config.ts
  src/components/router-head/router-head.tsx
  src/root.tsx
  src/routes/index.tsx
  src/routes/layout.tsx
Due: typecheck, lint-and-format

ユーザー表示データ組み込み
  src/routes/index.tsx
Due: typecheck, lint-and-format

画像アップロード処理の実装
  package.json
  src/hooks/storage.ts
  src/services/storage.ts
Due: typecheck, lint-and-format

モーダルUIの実装
  package.json
  src/routes/index.tsx
Due: typecheck, lint-and-format

ユーザー更新処理のデータ組み込み
  src/routes/index.tsx
Due: typecheck, lint-and-format

エラーメッセージ表示機構の作成
  src/components/ui/Snackbar.tsx
  src/hooks/message.ts
  src/routes/index.tsx
  src/routes/layout.tsx
Due: typecheck, lint-and-format

リモートDBのマイグレーションCI作成
  .github/workflows/migrate-db-preview.workflow.yml
  .github/workflows/migrate-db-prod.workflow.yml
  wrangler.toml
Due: none

config類修正
  .env.local.example
  bun.lockb
  drizzle.config.ts
  postcss.config.cjs
  src/routes/service-worker.ts
  src/services/db/image.ts
Due: typecheck, lint-and-format

セットアップCIの作成
  patches/setup.js
Due: lint-and-format

README作成
  README.md
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint-and-format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: app/{__tests__,domains,middlewares,repositories,services,utils}/**/*.{ts}
